<h1>Seus produtos cadastrados</h1>

<%= flash[:notice] %>	<br>

<% if @stores.empty? %>
    Não há produtos cadastrados
<% else %>
    <% @stores.each do |s| %>
        <% @products = Product.where(store_id: s.id) %>
        <% @products.each do |p| %>
            <%= link_to p.nome, edit_product_path(p) %>
        <% end %>
    <% end %>
<% end %>

<br>

<%= link_to "Cadastrar um produto", new_seller_product_path %>

<br>

<%= link_to "Voltar para página inicial", home_index_path %>