<!-- adicionado o estilo.css -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Suas Lojas Fisicas Cadastradas</title>
</head>

<h1>Suas lojas fisicas cadastradas</h1>

<%= flash[:notice] %>	<br>

<% @stores.each do |s| %>
    <div><%= link_to s.nome, edit_store_path(s) %></div>
<% end %>

<br>

<%= link_to "Cadastrar uma loja", new_store_path %>

<br>

<%= link_to "Voltar para página inicial", home_index_path %>